# project files
jupyterlab-v3.4.3/coverage/

jupyterlab-v3.4.3/dev_mode/listings
jupyterlab-v3.4.3/dev_mode/schemas
jupyterlab-v3.4.3/dev_mode/static
jupyterlab-v3.4.3/dev_mode/themes
jupyterlab-v3.4.3/dev_mode/workspaces
jupyterlab-v3.4.3/dev_mode/stats.json

jupyterlab-v3.4.3/docs/_build
jupyterlab-v3.4.3/docs/api
jupyterlab-v3.4.3/**/docs/source/_build

jupyterlab-v3.4.3/examples/app/build
jupyterlab-v3.4.3/examples/app/themes
jupyterlab-v3.4.3/examples/app/schemas
jupyterlab-v3.4.3/examples/**/static
jupyterlab-v3.4.3/examples/federated/labextensions

jupyterlab-v3.4.3/junit.xml

jupyterlab-v3.4.3/jupyterlab/geckodriver
jupyterlab-v3.4.3/jupyterlab/static
jupyterlab-v3.4.3/jupyterlab/schemas
jupyterlab-v3.4.3/jupyterlab/themes
jupyterlab-v3.4.3/jupyterlab/style.js
jupyterlab-v3.4.3/jupyterlab/tests/**/static
jupyterlab-v3.4.3/jupyterlab/tests/**/labextension

jupyterlab-v3.4.3/ui-tests/test-output

# Remove after next release
jupyterlab-v3.4.3/jupyterlab/imports.css

jupyterlab-v3.4.3/packages/nbconvert-css/style/
jupyterlab-v3.4.3/packages/services/examples/node/config.json
jupyterlab-v3.4.3/packages/services/examples/browser/tmp
jupyterlab-v3.4.3/packages/theme-*/static

jupyterlab-v3.4.3/tests/**/coverage
jupyterlab-v3.4.3/tests/**/.cache-loader

# galata
jupyterlab-v3.4.3/galata/benchmark-results
jupyterlab-v3.4.3/galata/playwright-report
jupyterlab-v3.4.3/galata/test-results
jupyterlab-v3.4.3/galata/*benchmark-expected.json

jupyterlab-v3.4.3/package_json.tar.gz

# javascript/typescript
jupyterlab-v3.4.3/lib
jupyterlab-v3.4.3/node_modules

jupyterlab-v3.4.3/*.tsbuildinfo
jupyterlab-v3.4.3/lerna-debug.log
jupyterlab-v3.4.3/yarn-error.log
jupyterlab-v3.4.3/storybook-static

# python
jupyterlab-v3.4.3/.cache
jupyterlab-v3.4.3/*.py[co]
jupyterlab-v3.4.3/.pytest_cache
jupyterlab-v3.4.3/__pycache__
jupyterlab-v3.4.3/*.egg-info
jupyterlab-v3.4.3/.ipynb_checkpoints
jupyterlab-v3.4.3/pip-wheel-metadata
jupyterlab-v3.4.3/Pipfile
jupyterlab-v3.4.3/Pipfile.lock

# xeus-python debug logs
jupyterlab-v3.4.3/xpython_debug_logs
jupyterlab-v3.4.3/xeus.log

jupyterlab-v3.4.3/build
jupyterlab-v3.4.3/dist

jupyterlab-v3.4.3/MANIFEST

# misc
*~
*.bak
*.map
*.swp
.DS_Store
.log/
\#*#
.#*

*.swp
*.map

jupyterlab-v3.4.3/coverage/
jupyterlab-v3.4.3/tests/**/coverage
jupyterlab-v3.4.3/tests/**/.cache-loader
jupyterlab-v3.4.3/docs/_build
jupyterlab-v3.4.3/docs/api
jupyterlab-v3.4.3/docs/source/_build
jupyterlab-v3.4.3/packages/services/examples/node/config.json
jupyterlab-v3.4.3/examples/app/build
jupyterlab-v3.4.3/examples/app/themes
jupyterlab-v3.4.3/examples/app/schemas
jupyterlab-v3.4.3/iframe_figures/

jupyterlab-v3.4.3/lerna-debug.log
jupyterlab-v3.4.3/yarn-error.log

# copied changelog file
jupyterlab-v3.4.3/docs/source/getting_started/changelog.md

jupyterlab-v3.4.3/junit.xml

jupyterlab-v3.4.3/*.tsbuildinfo

# jetbrains IDE stuff
*.iml
.idea/

# ms IDE stuff
*.code-workspace
.history
.vscode
.vs

.jupyter_releaser_checkout
